* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

#rokBanner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.loginContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1 1 100%;
    background: rgb(17, 13, 83);
    background: linear-gradient(
        90deg,
        rgba(17, 13, 83, 1) 0%,
        rgba(74, 74, 150, 1) 35%,
        rgba(0, 212, 255, 1) 100%
    );
    border: black solid 2px;
}

.loginContainer ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.loginContainer ul li {
    padding: 7px 60px;
}
.loginContainer ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav {
    flex: 1 1 80%;
    overflow: hidden;
    transition: height 0.5s;
}
nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
nav ul li {
    padding: 9px 4px;
    border-bottom: 1px solid black;
}
nav ul li a {
    text-decoration: none;
    display: block;
    color: black;
    font-weight: bold;
}

main {
    display: block;
    margin: 5px;
}

.petition {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

footer {
    /* position: absolute; */
    display: block;
    bottom: 0;
    width: 100%;
    background: rgb(17, 13, 83);
    background: linear-gradient(
        90deg,
        rgba(17, 13, 83, 1) 0%,
        rgba(74, 74, 150, 1) 35%,
        rgba(0, 212, 255, 1) 100%
    );
    height: 40px;
    border: black solid 2px;
    
}
footer > div > p {
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 0.8rem;
}

/* Home Page css */

.petitionListContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}
.petitionListContainer > li {
    list-style: none;
    flex: 1 1 20%;
    color: rgb(47, 0, 255);
    display: inline-block;
    background-color: bisque;
    margin-bottom: 3px;
    margin-left: 3px;
    padding: 10px;
    max-width: 250px;
}

.petitionListContainer > li > a {
  text-align: center;
  padding: 5px;
  display: inline-table;
  width: 100%;
}
.petition {
    display: flex;
}
