* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
  } 
  
  #rokBanner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  .loginContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1 1 100%;
    background-color:darkcyan;
    border: black solid 2px;
  }
  
  .loginContainer ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .loginContainer ul li {
    padding: 7px 60px;
  }
  .loginContainer ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  
  .navContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: red;
    border: black solid 2px;
    border-top: none;
  }
  
  #menuIcon {
    height: 40px;
    transform: rotate(0deg);
    transition: transform 0.5s linear;
  }
  #menuIcon270 {
    height: 40px;
    transform: rotate(270deg);
    transition: transform 0.5s linear;
  }
  nav {
    flex: 1 1 80%;
    overflow: hidden;
    transition: height 0.5s;
  }
  nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  nav ul li {
    padding: 9px 4px;
    border-bottom: 1px solid black;
  }
  nav ul li a {
    text-decoration: none;
    display: block;
    color: black;
    font-weight: bold;
  }
  
  main {
    display: block;
    margin: 5px;
  }
  
  .contentCreators {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
  }
  .contentCreators > div {
    flex: 1 1 50%;
  }
  .contentCreators img {
    width: 100%;
  }
  
  footer {
    background: red;
    margin-top: 20px;
    padding: 20px;
  }
  footer > div > p {
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 0.8rem;
  }